* {
	padding: 0px;
	margin: 0px;
}

body {
	min-width: 600px;
	color: #fff;
	font-family: monospace;
	background: #000000;
}

.nav {
	width: 100%;
	padding: 5px 0px;
	text-align: center;
	margin: 0 auto;
	background: #000;
}

.nav ul {
	padding: 0;
	list-style: georgian;
}

.nav li {
	display: inline;
}

.nav ul li a {
	display: inline;
	height: 20px;
	color: #fff;
	line-height: 20px;
	text-decoration: none;
	padding: 5px;
	margin: 0 5px;
}

.nav ul li a:hover, .nav ul li a.active {
	background: #555;
	border: none;
}

.nav ul li ul {
	padding-left: 18px;
	font-size: .8em;
}

.nav ul ul a {
	line-height: 30px;
	height: 30px;
}

.header-{
	text-align: center;
	width: 100%;
	height: 100px;
	line-height: 100px;
	background: #000 url('images/header.jpg') left center repeat-x;
	margin: 0;
}

.content {
	background: #000;
	display: block;
	width: 75%;
	margin: 0 auto;
	padding-bottom: 20px;
	padding-bottom: 0px;
}

.entry {
	width: 90%;
	margin: 0 auto;
	margin-bottom: 20px;
	padding: 10px;
	overflow: hidden;
	border: 1px solid #555;
	padding-left: 15px;
}

.entry h2 {
	/* text-transform: uppercase; */
	border-bottom: 1px solid #555;
	padding-left: 30px;
	padding-bottom: 10px;
}

.entry p {
	padding: 10px;
	line-height: 20px;
}

.entry img {
	padding: 2px;
	border: 1px solid #000;
	padding-left: 15px;
}

.links {
	width: 96%;
	margin: 10px auto;
	margin-bottom: 20px;
	padding: 5px 10px;
	overflow: hidden;
	border-top: 1px solid #555;
	border-bottom: 1px solid #555;
	/* background: #111; */
}

.links  .column{
	width: 49%;
	float: left;
}

.links .title {
	display: block;
	text-transform: uppercase;
	border-bottom: 1px solid #555;
	padding-left: 10px;
	padding-bottom: 5px;
	margin: 0 10px;
	font-size: 150%;
}
.links ul{
	list-style: none;
}

.links li {
}

.links li a {
	text-decoration: none;
	padding-left: 5%;
	display: block;
	height: 30px;
	line-height: 30px;
	width: 50%;
	border: 1px solid #555;
	margin: 5px auto;
}

.links li a:hover {
	background: #555;
}

.footer {
	clear: both;
	text-align: center;
	padding-top: 0px;
	width: 100%;
	padding: 5px 0;
	border-top: 1px solid #555;
	background: #000;
	margin-top: -20px;
	margin-top: 0px;
}

a {
	color: #fff;
	text-decoration: underline;
}

a:hover {
	text-decoration: none;
	border-bottom: 2px solid #fff;
}
/* 
.container {
	display: grid;
	align-items: center; 
	grid-template-columns: 1fr 1fr 1fr;
	column-gap: 5px;
}

img {
	max-width: 80%;
	max-height:80%;
}

.text {
	font-size: 80%;
} */

.links-blog {
	width: 100%;
	margin: 10px auto;
	margin-bottom: 20px;
	padding: 5px 10px;
	overflow: hidden;
	align-items: center;
	text-align: center;
	/* border-top: 1px solid #555;
	border-bottom: 1px solid #555; */
	/* text-align: center; */
	/* background: #111; */
}

.blog-entry {
	border: 2px solid #fff;
	height: 30px;
	width: 95%;
	align-items: center;
	text-align: center;
}

.typed {
    white-space: normal;
    overflow: hidden;
	/* border-right: 1px solid;
	width: 0; */
    animation: typing 2.5s steps(30, end) forwards, blinking 1s infinite
	/* animation-duration: 2.0s;
	animation-timing-function: steps(30, end);
	animation-fill-mode: forwards; */
}
@keyframes typing {
	from { width: 0 }
	to { width: 100% }
}

@keyframes blinking {
	0% {border-right-color: transparent}
	50% {border-right-color: white}
	100% {border-right-color: transparent}
}

@keyframes typewriter {
            from {
                width: 0%;
            }

            to {
                width: 50%;
            }
        }

        @keyframes blink {
            from {
                border-color: black;
            }

            to {
                border-color: transparent;
            }
        }


.blog{
	border: #ffffff solid;
	align-items: center;
	width: 95%;
}
.blog-link{
	text-align: center;
}